In [12]:
# import necessary packages
import pandas as pd
import re

In [16]:
# Read in the "transit_score_Pittsburgh.csv"  file
a = pd.read_csv("transit_score_Pittsburgh11.csv",header=0, index_col =None)

In [17]:
# Analyzing the first  row
a.head(1)

,status,walkscore,snapped_lat,transit,snapped_lon,bike
0,1,99,40.4415,"{'score': 100, 'description': ""Rider's Paradis...",-80.004,"{'score': 87, 'description': 'Very Bikeable'}"

In [4]:
# Create a new dataframe by dropping the column_name "status"
#df = a.drop(["status","updated"],axis = 1)

In [18]:
# Analyzing the first two rows after dropping the unwanted columns
df=a.copy()

In [19]:
#Copying the dataframe
df1= df.copy()

In [21]:
#Cleaning the data to retain only the numeric score
# Removing the part after comma by splitting to grab only the transit score from "transit" column
#df1.transit = df1.transit.apply(lambda x: x.split(',')[0])
#To extract only numeric score by removing anything other than digits by using regular expressions
#df1.transit = df1.transit.str.replace(r'\D+', "",regex = True)
df1.transit.to_list()
transit_scores = [row["score"] for row in df1.bike.to_list()]
df1["transit"] = transit_scores

In [22]:
df1.head(2)

,status,walkscore,snapped_lat,transit,snapped_lon,bike
0,1,99,40.4415,100,-80.0040,"{'score': 87, 'description': 'Very Bikeable'}"
1,1,99,40.4415,100,-80.0025,"{'score': 87, 'description': 'Very Bikeable'}"

In [23]:
#Cleaning the data
# Removing the part after comma by splitting to grab only the bike score from "bike" column
#df1.bike = df1.bike.apply(lambda x: x.split(',')[0])
#To extract only numeric score by removing anything other than digits by using regular expressions
#df1.bike = df1.bike.str.replace(r'\D+', "",regex = True)
df1.bike.to_list()
bike_scores = [row["score"] for row in df1.bike.to_list()]
df1["bike"] = bike_scores

In [24]:
#to analyze the dataframe
df1.head()

   status  walkscore  snapped_lat transit  snapped_lon bike
0       1         99      40.4415     100     -80.0040   87
1       1         99      40.4415     100     -80.0025   87
2       1         98      40.4385     100     -80.0025   86
3       1         96      40.4370     100     -80.0010   82
4       1         93      40.4355      97     -79.9965   60

In [25]:
# exporting as CSV file 
df1.to_csv('Pitt_transit_bike_walk_scores11.csv', index=False)