In [2]:
# import necessary packages
import pandas as pd
import re

In [3]:
# Read in the "transit_score_Pittsburgh.csv"  file
a = pd.read_csv("transit_score_Pittsburgh.csv",header=0, comment= "#",index_col =None, parse_dates = True)

In [4]:
# Analyzing the first  row
a.head(1)

,status,walkscore,description,updated,snapped_lat,transit,snapped_lon,bike
0,1,99,Walker's Paradise,2018-11-10 02:25:05.640521,40.4415,"{'score': 100, 'description': ""Rider's Paradis...",-80.004,"{'score': 87, 'description': 'Very Bikeable'}"

In [5]:
# Create a new dataframe by dropping the column_name "status"
df = a.drop("status",axis = 1)

In [7]:
# Analysing the first two rows after dropping the unwanted columns
df.head(2)

,walkscore,description,updated,snapped_lat,transit,snapped_lon,bike
0,99,Walker's Paradise,2018-11-10 02:25:05.640521,40.4415,"{'score': 100, 'description': ""Rider's Paradis...",-80.0040,"{'score': 87, 'description': 'Very Bikeable'}"
1,99,Walker's Paradise,2018-11-28 08:47:00.264892,40.4415,"{'score': 100, 'description': ""Rider's Paradis...",-80.0025,"{'score': 87, 'description': 'Very Bikeable'}"

In [8]:
#Copying the dataframe
df1= df.copy()

In [233]:
#Cleaning the data
# Removing the part after comma by splitting to grab only the transit score from "transit" column
df1.transit = df1.transit.apply(lambda x: x.split(',')[0])
#To extract only numeric score by removing anything other than digits by using regular expressions
df1.transit = df1.transit.str.replace(r'\D+', "",regex = True)

In [234]:
df1.head(2)

,walkscore,description,updated,snapped_lat,transit,snapped_lon,bike
0,99,Walker's Paradise,2018-11-10 02:25:05.640521,40.4415,100,-80.0040,"{'score': 87, 'description': 'Very Bikeable'}"
1,99,Walker's Paradise,2018-11-28 08:47:00.264892,40.4415,100,-80.0025,"{'score': 87, 'description': 'Very Bikeable'}"

In [235]:
#Cleaning the data
# Removing the part after comma by splitting to grab only the bike score from "bike" column
df1.bike = df1.bike.apply(lambda x: x.split(',')[0])
#To extract only numeric score by removing anything other than digits by using regular expressions
df1.bike = df1.bike.str.replace(r'\D+', "",regex = True)

In [236]:
#to analyze the dataframe
df1.head()

,walkscore,description,updated,snapped_lat,transit,snapped_lon,bike
0,99,Walker's Paradise,2018-11-10 02:25:05.640521,40.4415,100,-80.0040,87
1,99,Walker's Paradise,2018-11-28 08:47:00.264892,40.4415,100,-80.0025,87
2,98,Walker's Paradise,2019-03-25 05:30:13.717646,40.4385,100,-80.0025,86
3,96,Walker's Paradise,2019-03-23 07:14:26.797317,40.4370,100,-80.0010,82
4,93,Walker's Paradise,2018-11-20 16:04:43.126500,40.4355,97,-79.9965,60

In [9]:
# exporting as CSV file 
df1.to_csv('Pitt_transit_bike_walk_score', index=False)