In [1]:

#import packages and load CSV file
import pandas as pd
x =pd.read_csv('C:/Users/srao/PBSDP/pbs.csv')

In [2]:
#  returns the first 5 rows .
x.head()

  StationNum                StationName  RackQnty   Latitude  Longitude
0       1000          Liberty & Stanwix      16.0  40.441326 -80.004679
1       1001     Forbes Ave & Market Sq      19.0  40.440877 -80.003080
2       1002               Third & Wood      15.0  40.439030 -80.001860
3       1003  First Ave & Smithfield St      15.0  40.437200 -80.000375
4       1004           First Ave & B St      15.0  40.435800 -79.996877

In [3]:
#for quickly testing if dataframe has the right type of data in it
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 5 columns):
StationNum     611 non-null object
StationName    610 non-null object
RackQnty       610 non-null float64
Latitude       610 non-null float64
Longitude      610 non-null float64
dtypes: float64(3), object(2)
memory usage: 23.9+ KB

In [4]:
# to view some basic statistical details
x.describe()

         RackQnty    Latitude   Longitude
count  610.000000  610.000000  610.000000
mean    17.809836   40.447163  -79.966896
std      4.662315    0.011013    0.027681
min      2.000000   40.427899  -80.013204
25%     15.000000   40.438882  -79.995084
50%     19.000000   40.445834  -79.964628
75%     19.000000   40.456505  -79.947401
max     35.000000   40.470212  -79.915248

In [5]:
# for determining how many values are there in Station Number column
x['StationNum'].value_counts()

1002    12
1045    12
1030    12
1041    12
1023    12
1028    12
1046    12
1022    12
1020    12
1005    12
1038    12
1019    12
1039    12
1024    12
1040    12
1035    12
1049    12
1044    12
1021    12
1004    12
1042    12
1034    12
1013    12
1015    12
1033    12
1000    12
1009    12
1017    12
1016    12
1003    12
1027    12
1007    12
1037    12
1043    12
1036    12
1025    12
1001    12
1032    12
1047    12
1008    12
1011    12
1014    12
1006    12
1010    12
1029    12
1031    12
1018    12
1026    12
1012    12
1048    12
1061     5
1050     5
        1
Name: StationNum, dtype: int64

In [6]:
# assigning to a new DataFrame
ax =x['StationName'].value_counts()

In [7]:
x.dtypes

StationNum      object
StationName     object
RackQnty       float64
Latitude       float64
Longitude      float64
dtype: object

In [8]:
#duplicated() method helps in analyzing duplicate values only. It returns a boolean series
x.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
581     True
582     True
583     True
584     True
585     True
586     True
587     True
588     True
589     True
590     True
591     True
592     True
593     True
594     True
595     True
596     True
597     True
598     True
599     True
600     True
601     True
602     True
603     True
604     True
605     True
606     True
607     True
608     True
609     True
610    False
Length: 611, dtype: bool

In [9]:
# I noticed that there are many duplicate values and the station count is definitely not 610
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 5 columns):
StationNum     611 non-null object
StationName    610 non-null object
RackQnty       610 non-null float64
Latitude       610 non-null float64
Longitude      610 non-null float64
dtypes: float64(3), object(2)
memory usage: 23.9+ KB

In [10]:
#Since the drop_duplicates() drop the row by position, I first sorted the DataFrame
x.sort_values(by=['Latitude','Longitude'], ascending = True, inplace = True)

In [11]:
# check for sorted boolean values
x.duplicated()

295    False
345     True
395     True
447     True
499     True
551     True
603     True
46     False
96      True
146     True
196     True
246     True
296    False
346     True
396     True
448     True
500     True
552     True
604     True
49     False
99      True
149     True
199     True
249     True
47     False
97      True
147     True
197     True
247     True
297    False
       ...
370     True
422     True
474     True
526     True
578     True
18     False
68      True
118     True
168     True
218     True
268     True
318     True
368     True
420     True
472     True
524     True
576     True
19     False
69      True
119     True
169     True
219     True
269    False
319     True
369     True
421     True
473     True
525     True
577     True
610    False
Length: 611, dtype: bool

In [12]:
#copying to a new df
y = x.copy()

In [13]:
#dropping the unwanted columns
y.drop(['StationName','RackQnty'],inplace = True,axis = 1)

In [14]:
y.sort_values(['StationNum'], inplace = True)

In [15]:
y.drop(index = 610, inplace = True)

In [16]:
#dropping duplicates
y.drop_duplicates(inplace = True)

In [17]:
#checking to see the final unique values
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 100 to 401
Data columns (total 3 columns):
StationNum    70 non-null object
Latitude      70 non-null float64
Longitude     70 non-null float64
dtypes: float64(2), object(1)
memory usage: 2.2+ KB

In [18]:
z =y[y['StationNum'].apply(lambda o: str(o).isdigit())]

In [19]:
import numpy as np
z.applymap(np.isreal).all()

StationNum    False
Latitude       True
Longitude      True
dtype: bool

In [20]:
# copying it to another datafame to extract only Latitudes and Longitudes to save it in a text file for extracting Walkscore
v = z.copy()

In [21]:
v.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 100 to 401
Data columns (total 3 columns):
StationNum    70 non-null object
Latitude      70 non-null float64
Longitude     70 non-null float64
dtypes: float64(2), object(1)
memory usage: 2.2+ KB

In [22]:
v.drop(['StationNum'],axis = 1,inplace = True)

In [23]:
v.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 100 to 401
Data columns (total 2 columns):
Latitude     70 non-null float64
Longitude    70 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB

In [25]:
# exporting as CSV file 
v.to_csv('Pitt_lat_lon', index=False)

In [ ]:
#checking the current directory
pwd

In [ ]:
#reading from CSV file
pd.read_csv('Pitt_lat_lon')